.debugger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 50%;
  height: 90%;
  overflow: clip;
  pointer-events: auto;
  text-align: left;
  background-color: $color1;
  color: $color2;
  border: 1px solid $color2;
  opacity: 0.7;

  &--minimalized {
    height: 2em;
  }

  &__header {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    background-color: $color2;
    color: $color1;
    cursor: move;

    & .debugger__height-btn {
      padding: 2px 10px;
      color: $color2;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__filters {
    display: flex;
    gap: 5px;
    padding: 20px;

    & .debugger__filter {
      padding: 5px;
      font-weight: 700;
      background-color: $color2;
      color: $color1;
    }
  }

  &__content {
    height: calc(85% - 20px);
    margin: 0px 20px;
    overflow-x: hidden;
    overflow-y: auto;

    & .debugger__watcher {
      & .debugger__watched {
        list-style-type: none;
  
        & table {
          width: 100%;
          border: 1px solid $color2;

          & caption {
            text-align: left;
          }

          & tr {
            width: 100%;

            & td {
              width: calc(100% / 3);
              text-align: center;
            }
          }
        }
      }
    }
  }
}
